.heading {

  font-family: "Roboto Slab", serif;
  font-size: 1.3125em;
  border-bottom: 0;

  &--category {

    .button { /* stylelint-disable-line */

    }
  }

  &__header {

    &--one {

    }

    &--two {

    }

    &--three {
    }
  }
}
